@using LibraryArchive.HelpingTools;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryArchive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom-style.css" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container ffb">
                <a asp-controller="Home" asp-action="Index">
                    <p>Library Archive</p>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <div>
                        <ul class="navbar-nav ml-auto">
                            @if (Logged.Librarian is null)
                            {
                                <li class="nav-item toside">
                                    <a id="showMore" class="navbar-text nav resize" asp-controller="User" asp-action="Login">Вход</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item dropdown">
                                    <a style="padding: 5px; margin-top: 35px" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Книги
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="Book" asp-action="Index" asp-route-page="1" asp-route-pageSize="20" asp-route-searchString="">Всички</a>
                                        </li>
                                        <li>
                                            <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="BorrowedBooks" asp-action="IndexBorrowedBooks">Взети</a>
                                        </li>
                                        <li>
                                            <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="Book" asp-action="IndexFreeBooks">Свободни</a>
                                        </li>
                                        <li>
                                            <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text dropdown-item nav resize" asp-controller="Book" asp-action="IndexScrappedBooks">Бракувани</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a style="padding: 5px; margin-top: 35px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="Reader" asp-action="Index">Читатели</a>
                                </li>

                                <li class="nav-item">
                                    <a style="padding: 5px; margin-top: 35px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="Genre" asp-action="Index">Жанрове</a>
                                </li>

                                <li class="nav-item">
                                    <a style="padding: 5px; margin-top: 35px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="Publisher" asp-action="Index">Издателства</a>
                                </li>

                                <li class="nav-item">
                                    <a style="padding: 5px; margin-top: 35px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="Author" asp-action="Index">Автори</a>
                                </li>

                                <li class="nav-item toside">
                                    <a style="padding: 5px; text-decoration: none;" id="showMore" class="navbar-text nav resize" asp-controller="User" asp-action="Index">
                                        Здравейте, @Logged.Librarian.FirstName @Logged.Librarian.LastName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LibraryArchive - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>