@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Библиотека</h1>
    <p>И все пак – защо книги? Защото нищо друго не притежава мистичното свойство да ни накара да видим света през очите на другия.
        Библиотеката е книжен мост между културите. </p>
</div>
