@model LibraryArchive.ViewModels.PublisherViewModel.AddPublisherViewModel;
@{
    ViewData["Title"] = "Add Publisher | Library Archive";
}

<head>
    <link href="~/css/custom-style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/login-signup.css" rel="stylesheet" type="text/css" />
</head>

<body class="dark-body">
    <div class="container">
        <div class="row justify-content-center lower">
            <div class="col-md-6 register-form-bg rounded">
                <form asp-action="Add" asp-controller="Publisher" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <h2 class="normal-heading">Добави издателство</h2>
                        <br />
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label normal-text">* Име на издателството</label>
                        <input asp-for="PublisherName" class="form-control normal-text" placeholder="Въведете името на издателството..." />
                        <span asp-validation-for="PublisherName" class="text-danger"></span>
                    </div><div class="form-group">
                        <label class="control-label normal-text">Адрес на издателството</label>
                        <input asp-for="Address" class="form-control normal-text" placeholder="Въведете адрес на издателството..." />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label normal-text">Уебсайт на издателството</label>
                        <input asp-for="Website" class="form-control normal-text" placeholder="Въведете уебсайт на издателството..." />
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                    <div class="form-group align-items-center text-center">
                        <input type="submit" id="register" value="Регистрация" class="btn btn-lg dark-button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>